.frame, .lastFrame {
    display: inline-block;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
}

.frame {
    width: 50px;
}

.lastFrame {
    width: 75px;
}

.nameLabel {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

.throwOne, .throwTwo, .throwThree {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.throwOne.last, .throwTwo.last, .throwThree.last {
    width: calc(100%/3);
}

.throwTwo, .throwThree {
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
}