html {
    background: url(../img//bowling-lane.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body, h1, h2, h3, div, p, input, button {
    color: white;
    padding: 0;
    margin: 0;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#blocker {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    width: 96vw;
    min-height: 96vh;
    margin: 2vh 2vw;
    padding-bottom: 2vh;
    box-sizing: border-box;
}

#startContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1337;
}

#playersInput {
    background-color: rgba(100, 100, 100, 0.8);
    border: 1px solid white;
    width: 4vw;
    height: 3vw;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    box-sizing: border-box;
}

#playButton {
    width: 10vw;
    height: 3vw;
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.8);
    border: 1px solid white;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

#playButton:hover {
    background-color: rgba(200, 200, 200, 0.8);
    color: black;
}

#startError {
    color: red;
    margin-top: 0.5vw;
    font-size: 1vw;
    height: 1.5vw;
}

#gameContainer {
    display: none;
}

#inputContainer {
    padding: 2vw 0 0.5vw 2vw;
}

#inputContainer > p {
    font-size: 1.5vw;
}

#inputContainer > #inputError {
    font-size: 1vw;
    padding-top: 0.25vw;
    color: red;
    height: 1.5vw;
}

#inputContainer > input {
    background-color: rgba(100, 100, 100, 0.8);
    border: 1px solid white;
    width: 6vw;
    height: 3vw;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    box-sizing: border-box;
}

#inputContainer > button {
    width: 6vw;
    height: 3vw;
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.8);
    border: 1px solid white;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

#inputContainer > button:hover {
    background-color: rgba(200, 200, 200, 0.8);
    color: black;
}

.playerEntryPopup {
    width: 30vw;
    height: 16vw;
    border: 1px solid white;
    border-radius: 2vw;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1337;
}

.playerEntryPopup > p {
    font-size: 2vw;
    margin: 3vw 0;
}

.playerEntryPopup > input {
    background-color: rgba(100, 100, 100, 0.8);
    border: 1px solid white;
    width: 12vw;
    height: 3vw;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    box-sizing: border-box;
}

.playerEntryPopup > button {
    width: 8vw;
    height: 3vw;
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.8);
    border: 1px solid white;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
}

.playerEntryPopup > button:hover {
    background-color: rgba(200, 200, 200, 0.8);
    color: black;
}

.scoreboard {
    width: 92vw;
    margin: 0 auto 1vw auto;
    background-color: rgba(50, 50, 50, 0.5);
}

.scoreboard.highlight {
    background-color: rgba(100, 100, 100, 0.5);
}

.frame, .lastFrame {
    display: inline-block;
    height: 8vw;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    font-size: 2.5vw;
    text-align: center;
}

.frame.highlight {
    background-color: rgba(150, 150, 150, 0.5);
}

.frame {
    width: 8vw;
}

.lastFrame {
    width: 12vw;
}

.nameLabel {
    display: inline-block;
    width: 8vw;
    height: 8vw;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

.nameLabel > p {
    line-height: 8vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden
}

.throwOne, .throwTwo, .throwThree {
    width: 50%;
    height: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.throwOne.last, .throwTwo.last, .throwThree.last {
    width: calc(100%/3);
}

.throwTwo, .throwThree {
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
}

.frameTotal {
    width: 100%;
    height: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}

.error {
    border-color: red !important;
}